NOCODB_BASE_ID=
NOCODB_BASE_URL=http://192.168.0.172:8080
NOCODB_API_TOKEN=
VITE_NOCODB_BASE_URL=http://192.168.0.172:8080
VITE_NOCODB_API_KEY=
VITE_NOCODB_TABLE_ID=
VITE_NOCODB_VIEW_ID=
VITE_NOCODB_TABLE_LABEL=devices
LOCATEIQ_PORT=8081
